---
import * as Api from "../../lib/api";
import Layout from "../../layouts/Layout.astro";
import RichText from "../../components/rich-text.astro";
import { richTextToHtmlString } from "../../lib/contentful";

export async function getStaticPaths() {
  const foundations = await Api.getFoundations();
  const pages = foundations.items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      slug: item.fields.slug,
    },
  }));
  return pages;
}
export interface Props {
  slug: string;
}

const { slug } = Astro.props;
const foundationEntry = await Api.getFoundationEntry(slug);
const richTextContent = foundationEntry
  ? richTextToHtmlString(foundationEntry.fields.content)
  : "";
---

<script>
  import "../../components/color-token";
</script>
<Layout title="Foundation Entry">
  <main>
    {foundationEntry && <RichText content={richTextContent} />}
  </main>
</Layout>
